<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="expires" content="60">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0" name="viewport" />
		<link rel="stylesheet" href="/resources/css/weui.min.css"/>
		<link rel="stylesheet" href="/resources/css/jquery-weui.min.css"/>
	    <link rel="stylesheet" href="/resources/css/sm.min.css" />
		<link rel="stylesheet" href="/resources/css/reset.css" />
		<link rel="stylesheet" href="/resources/css/css.css" />
		<script type="text/javascript" src="/resources/js/jquery1.11.3.min.js"></script>
		<script type="text/javascript" src="/resources/js/jquery-weui.min.js"></script>
		<script>jQuery.noConflict()</script>
		<script type="text/javascript" src="/resources/js/zepto.min.js"></script>
		<script type="text/javascript" src="/resources/js/sm.min.js"></script>
		<script type="text/javascript" src="/resources/base/httpClient.js"></script>
		<script type="text/javascript" src="/resources/js/template.js"></script>
		<script type="text/javascript" src="/resources/listjs/change_nickName.js"></script>
	</head>
	<body>
		<div class="page">
			<header class="bar bar-nav head-bg">
				<a href="javascript:;" class="icon icon-left pull-left" onclick="back()"></a>
                <h1 class="title">修改昵称</h1>
                <a class="pull-right save-icon" href="javascript:;" onclick="save()" >保存</a>
            </header>
			<div class="content">
				<article class="nickname w_bg">
					<span>昵称</span>
					<div><input type="text" value="李淑芬" id="nickName" minlength="1" maxlength="11"></div>
				</article>
			</div>
		</div>
	</body>
</html>
